/*------------------------------------------------------
	Header Styles 
--------------------------------------------------------*/
#top-header {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1e5799+0,ffffff+0,207cca+100,01588b+100 */
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(left, #1e5799 0%, #ffffff 0%, #207cca 100%, #01588b 100%); /* FF3.6-15 */
   // background: -webkit-linear-gradient(left, #1e5799 0%,#ffffff 0%,#207cca 100%,#01588b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #1e5799 0%,#ffffff 0%,#207cca 100%,#01588b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#01588b',GradientType=1 ); /* IE6-9 */

    height: 35px;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-basis: 100%;
    -webkit-flex-basis:100%;
    -ms-flex-basis:100%;
    -moz-box-flex: 100%;
}
 
#logo {
     background-image:url(../../assets/images/iso.png);
     background-size:contain;
     background-repeat: no-repeat;
     background-position: left;  
     height: 32px;
     margin-top: 2px;
}

ul {
    list-style-type: none;
}

#left-header {
    //background-color:blue;
}

#right-header {
    //background-color: red;
}
 
 #right-header ul.social-icons li {
     display: inline-block;
     margin-top: 5px;
}
 
#right-header ul.social-icons li a {
   color: white;
   text-align: center;
   margin: 0 4px;
   font-size: 1.5em;
}
 
#right-header ul.social-icons li a:hover {  
   color: #17BEBB; 
   text-decoration: none;
}
 
 @media only screen and (min-width: 768px) and (max-width: 900px)  {    
   #logo {
    // background-image:url(../../../../assets/images/iso.png);
    display:none;
   }
 
   #right-header {
   }
 
  /* #right-header ul.social-icons {
     margin-right: -50px;
   }*/
 }
 /*
 
 @media only screen and (max-width: 544px)  {    
   #right-header ul.social-icons li a {
     margin: 0 1px;
     font-size: 18px;
   }
 
 
   #logo {
     margin-top: 2px;
     width: 180px;
     margin-left: -2%;
    // background-image:url(../../../../assets/images/logopngnuevopaginaresponsive.png);
   }
 
   #right-header ul.social-icons li {
     margin-top: 10px;    
   }
 
   #top-header {
     height: 35px;
     overflow-x: hidden;
   }
 
   #right-header {
     padding-right: 15px;
   }
 }*/