
<div class="row-fluid" id="top-header">
    <div class="col text-left" id="left-header">
        <div id="logo"></div>
    </div><!-- /.left-header -->
    <div class="col text-right" id="right-header">
        <ul class="social-icons">
            <!--<li><a href="https://www.facebook.com/tnoradio" target="_blank" class="fa fa-facebook" id="facebook"></a></li>-->
            <!--<li><a href="https://plus.google.com/+tnoradio" target="_blank" class="fa fa-google-plus" id="google-plus"></a></li>-->
            <li><a href="http://www.instagram.com/tnoradio" target="_blank" class="fa fa-instagram" id="instagram"></a></li>
           <!-- <li><a href="https://www.snapchat.com/add/tnoradio" class="fa fa-snapchat" id="snapchat"></a></li>-->
            <!--<li><a href="https://www.twitter.com/tnoradio" target="_blank" class="fa fa-twitter" id="twitter"></a></li>      -->
            <!--<li><a href="https://www.linkedin.com/company/10479652/" target="_blank" class="fa fa-linkedin" id="linkedin"></a></li>-->
            <li><a class="fa fa-user-circle-o" [routerLink]="['/login']"></a></li>
        </ul>
    </div><!-- right header-->
</div><!-- /.row -->