.hamburguer{
	padding-top: 15px !important;
	padding-left: 0 !important;
  width: 30px !important;
  z-index: 9999;
  background-color: transparent;
  border:none;
}

.hamburguer .btn-nav:hover { 
	cursor: pointer; 
}

.hamburguer .btn-nav:hover .bar { 
	background: #17BEBB;
}

.hamburguer .bar{
  display: block;
  height: 3px;
  width: 30px;
  background: #fff;
  margin-top: 5px;
}

.hamburguer .btn-nav {
  display: block;
  padding:0;
  width: 30px;
  position: relative;	
  z-index: 9999;
  border-style: none;
  left: -5px;
  top:0px;
  background: transparent;
 /* -webkit-transition: all 1s ease;*/
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.hamburguer .btn-nav:focus { 
	outline: none; 
}

.menu {
  margin-top:25px;
}

.menu li {
  font-size: 0.75em;
  font-weight: 550;
  list-style: none;
  cursor: pointer; 
  position: relative;
  margin-left: -30px;
  color: #ffff;
  text-align: center;
  margin-top:15px;
  //border-bottom: solid white 0.2px;
  vertical-align: middle;
}

.menu li a:hover {
  color: #17BEBB;
}


/*@media only screen and (min-width:768px ) and (max-width: 900px)  {  
.hamburguer, .btn-nav, .bar {
      margin-top:-8px;
      z-index: 9999;
      margin-left: 10px;
  }

  .hamburguer .btn-nav {
    top: 95px;
    z-index: 9999 !important;
    position: fixed;
  }

  .hamburguer .btn-nav .bar {
    background-color: #01588b;
  }

}

@media only screen and (max-width: 767px)  {  
    .side-menu, .hamburguer, .btn-nav, .bar, .nav-container {
        width: 0px;
        height: 0px;
        margin: 0px !important;
    }
}*/