<!-- Container for sidebar(s) + page content -->
<div class="container-fluid no-padding">
  <div class="row-fluid no-padding">
     <!-- Page content -->
     <div ng-sidebar-content class="no-padding">
        <div class="hamburguer" (click)="_toggleSidebar()">
          <button class="btn-nav"  [style]="getHamburguerStyle()">    
              <div class="bar arrow-top-r"></div>    
              <div class="bar arrow-middle-r"></div>    
              <div class="bar arrow-bottom-r"></div>    
          </button> <!--btn-nav-->   
        </div>
    </div>
  <ng-sidebar-container class="no-padding" style="height:50vh;">
  
      <!-- A sidebar -->
      <ng-sidebar [(opened)]="_opened" class="no-padding">
          <ul class="menu">
              <li><a>PROGRAMACIÓN</a></li>
              <li><a>TALENTOS</a></li>
              <li><a>SOLICITAR<br/> ENTREVISTA</a></li>
              <li><a>SOLICITAR<br/> TARIFAS</a></li>
              <li><a>SOLICITAR<br/> ESPACIO</a></li>
              <li><a>SOLICITAR<br/> PAUTA PARA <br/> GRABACIÓN</a></li>
          </ul>
      </ng-sidebar>
    </ng-sidebar-container>    
  </div>
</div>