.player-tno-radio {
    margin-left:0px;
    margin-right:0px;
    height:440px;
    width:100%;
}

.player-box {
    background-color: black;
    height: 440px;
}


@media only screen and (min-width: 768px) and (max-width:900px) {  
    .player-tno-radio {  
        padding:0;
        margin: 0;     
        overflow: hidden;  
    }

   
    .player-tno-radio {
        height:360px;
        width: 100%;
        margin-left: 0px;
    }

    .player-box {
        height: 360px;
    }
}

@media only screen and (min-width: 545px) and (max-width: 767px)  {     
    .player-tno-radio, .player-box {
        height: 370px;  
    }
}

@media only screen and (max-width: 544px)  {  
    .player-tno-radio {
        height:250px; 
    }

    .player-box {
        height:250px; 
        background-color: black;
    }
}


@media only screen and (max-width: 767px)  { 

}