.footer {
    /*background-color: #303461;*/
  	background: linear-gradient(to bottom, #00588e , #303461);
	padding-top:30px;
	padding-left: 0%;
	padding-bottom: 10px;
	padding-right: 20px;
	width: 120%;
	z-index: 9999;
	overflow: hidden !important;	
}

.temp_col12	{
	color: whitesmoke;
	border-color: #0869e7;
}

.estudios, .menu {
	padding-left: 2%;
}
.contacto {
	padding-right: 10px;
}

.estudios h2 {
	margin-left:-11px;
	margin-bottom: 15px;
}

.contacto h2 {
	margin-bottom: 15px;
}

.contacto span {
	line-height: 1.5em;
}

.blue-border {
	border-bottom: #0869e7 1px solid;
}

h2 {
	font-size: 20px;
	font-weight: 600;
}

.clear	{ clear: both;}

.footer ul {
	float: left;
	margin: 0px;
	padding: 0px;
}

.footer ul li {
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.footer ul li:before {
  color: whitesmoke; 
	font-size: 2.5em;
  vertical-align: middle;
	line-height: 20px;
	margin-right: 5px;
}

.footer span.left {
	float: left;
	color:#0869e7;
	font-size: 1.5em;
	text-align: left;
	line-height: 20px;
}
.footer span.right {
	float: left;
}

.footer span.left.fa-envelope { font-size: 1.2em;}

.bottom	{  
	padding: 30px 0px;
	color: whitesmoke; 
	width: 115.5%; 
	background: #333536;
	padding-right: 10px;
	height: 80px;
	}
.bottom .right fa { padding: 15px;}
.bottom .right div.soc {
	width: 28px;
	height: 28px;
	text-align: center;
	font-size: 12px;
	line-height: 28px;
	background: #c6cfd3;
	color: #333536;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

.bottom .right a:hover div.soc{
	background: #0869e7;
}


.gallery_item {
    width: 65px;
    height: 50px;
	padding:0px;
	padding-left: 5px;
  }

  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
  }


@media only screen and (max-width: 544px) { 
    .footer {
			width: 109%;
			overflow-x: hidden !important;	
			padding-bottom: 10px;	
			margin-top: -10px;
			padding-left: 10px;					
	}
	
	.bottom {
		width: 105%;
		overflow: hidden !important;
		padding-right: 10px;
		padding-top: 20px;				
}

	.menu, .estudios, .contacto, .tno{
		width: 100%;
		padding: 0px;
		margin: 0px;
		padding-left: 2%;
	}

	.estudios, .contacto {
		margin-top: 20px;	
	}

	.estudios {
		padding-left: 5%;
	}
	
	.blue-border {
		border: none;
	}
}

@media only screen and (min-width: 768px) and (max-width:1023px) {  
	.bottom {
		width: 100%;
		overflow: hidden !important;
		padding-right: 10px;				
}

	.footer {
		margin-top: -20px;	
		width: 105%;
		padding-bottom: 30px;
		overflow: hidden !important;
	}
	.menu, .estudios, .contacto, .tno{
		width: 80%;
	}

	.estudios, .contacto {
		margin-top: 30px;
	}

	.estudios h2, .contacto h2 {
		margin-bottom: 15px;
	}

	.estudios {
		padding-left: 20px;
	}

	.tno {
		padding-left:10px;
	}

	.menu, .contacto {
		border:none;
		padding-left: 30px;
	}
}

@media only screen and (min-width: 545px) and (max-width: 767px)  {   
	.estudios {
		padding-left: 25px;
	}

	.estudios, .contacto {
		margin-top: 20px;
	}

	.footer {
		width: 110%;	
	}
}