<div class="container-fluid">
    <div class="row footer">
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 temp_col12 tno">
            <h2 class="blue-border">TNO Radio</h2>
              <p> Somos la primera radio online de Venezuela desde 2014. Más de 50 producciones independientes y más de 60 talentos. #ConéctatealPoderdelaRadio.</p>
        </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 temp_col12 hidden-sm-down menu">
            <h2 class="blue-border">Menú</h2>
              <ul>
                <li>Talentos</li>
                <li><a class="">Programación</a></li>
                <!--<li><a class="" [routerLink]="['/programacion']">Programación</a></li>-->
                <li>Solicitar Entrevista</li>
                <li>Solicitar Patrocinio</li>
                <li>Solicitar Tarifas</li>
                <li>Solicitar Pauta de Grabación</li>
              </ul>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 temp_col12 estudios">
            <h2 class="blue-border">Estudios</h2>
      <div class="footer_gallery" >
                  <div class="">
                      <div class="row imagetiles" style="padding:0px;">
                          <a href="../../../assets/images/flicker/1.jpg"><img class="gallery_item" src="../../../assets/images/flicker/s1.jpg" target="_blank" alt="image 1" /></a>
                          <a href="../../../assets/images/flicker/2.jpg"><img class="gallery_item" src="../../../assets/images/flicker/s2.jpg" target="_blank" alt="image 2" style=""/></a>
                          <a href="../../../assets/images/flicker/3.jpg"><img class="gallery_item" src="../../../assets/images/flicker/s3.jpg" target="_blank" alt="image 3" style=""/></a>
                      </div>
                      <div class="row imagetiles"  style="margin-top:5px;">
                          <a href="../../../assets/images/flicker/4.jpg"><img class="gallery_item" src="../../../assets/images/flicker/s4.jpg" target="_blank" alt="image 4" style=""/></a>                            
                          <a href="../../../assets/images/flicker/5.jpg"><img class="gallery_item" src="../../../assets/images/flicker/s5.jpg" target="_blank" alt="image 5" style=""/></a>
                          <a href="../../../assets/images/flicker/6.jpg"><img class="gallery_item" src="../../../assets/images/flicker/s6.jpg" target="_blank" alt="image 6" style="" /></a>                               
                      </div>
                  </div>
              </div>                            
          </div>
          <div class="col-xs-6 col-sm-6 col-md-6 col-lg-3 temp_col12 contacto">
          <h2 class="blue-border">Contacto</h2>
            <span class="left col-xs-1 fa fa-map-marker"></span>
              <a  href="https://goo.gl/maps/63n2XQrPJS72"><span class="right col-xs-11"> &nbsp; C.C.C.T. Torre Pirámide Invertida.</span></a>
              <div class="clear height10"></div>
              <span class="left col-xs-1 fa fa-phone"></span>
              <span class="right col-xs-11"> &nbsp; (+58) 212-959-61-56</span>
              <div class="clear height10"></div>
              <span class="left col-xs-1 fa fa-envelope"></span>
              <span class="right col-xs-11"> &nbsp; tnoradio@gmail.com</span>
              <div class="clear height10"></div>
              <div class="clear"></div>
          </div>
      </div>
  </div>
 <!--Footer End-->
<!-- Bottom Start -->
  <div class="bottom">
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 left text-left">
                <span>Copyright © 2018 <a href="#">Software Agency</a></span>
              </div>
              <div class="col-4 right text-right" style="float:right">
                <a href="#"><div class="fa fa-rss soc"></div></a>
                  <a href="http://www.twitter.com/softwareagency"><div class="fa fa-twitter soc"></div></a>
              </div>
          </div>
      </div>
  </div>
  <!-- Bottom End -->