<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
    <div class="row" style="margin-top:30px; margin-bottom:60px;">
        <div class="col-xl-4 col-lg-4 col-12"></div>
            <div class="col-xl-4 col-lg-4 col-12 bottom-30">
                <div widget class="card">
                    <div class="card-header">
                        <span>Iniciar Sesión</span>                
                    </div>
                    <div class="card-block widget-body">
                        <form novalidate (ngSubmit)="onSubmit(form1)" [formGroup]="form1">
                        <div class="form-group">
                            <label for="email">E-mail (*)</label>
                            <input type="text" formControlName="email" id="email" class="form-control" name="email" ng-maxlength="40" required>
                            <div class="col-sm-8 text-left">
                                <span class="help-block text-danger" *ngIf="form1.get('email').touched && form1.get('email').hasError('required')">This field is required</span>
                                <span class="help-block text-danger" *ngIf="form1.get('email').touched && form1.get('email').hasError('invalidEmail')">Invalid email. Suggested Format.: user@domain.com</span>
                                <span class="help-block text-danger" *ngIf="form1.get('email').touched && form1.get('email').hasError('maxlength')">This field requires less than 40 chars.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Contraseña (*)</label>
                            <input type="password" formControlName="password" id="password" class="form-control" name="password" autocomplete="off" ng-maxlength="16" ng-minlength="6" required>
                            <div class="col-sm-8 text-left">
                                <span class="help-block text-danger" *ngIf="form1.get('password').touched && form1.get('password').hasError('required')">This field can't be empty.</span>
                                <span class="help-block text-danger" *ngIf="form1.get('password').touched && form1.get('password').hasError('minlength')">This field requires less than 6 chars.</span>
                                <span class="help-block text-danger" *ngIf="form1.get('password').touched && form1.get('password').hasError('maxLength')">This field requires less than 16 chars.</span>
                            </div>
                        </div><!-- End class form-group password-->                    
                        <span style="padding-left:20px; color:red;">(*) Required.</span>
                        <div class="row justify-content-center">
                            <button type="submit" class="btn btn-primary" [disabled]="!form1.valid">Aceptar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>