<div class="col no-margin no-padding">
    <div  class="col publicidad no-margin no-padding"> 
            <a href="https://www.instagram.com/dannyylacaja"  target="_blank">
                <!--<img src="/assets/images/publicidad/danny_la_caja.jpg">-->
                <div class="img-publi no-margin no-padding"></div>
            </a>                  
                  
    </div>  <!--col-->
    <div  class="col redes no-padding">
       <app-redes></app-redes>
    </div>  <!--col redes-->
</div><!--col-->