.publicidad {
    height: 220px;
    width: 100%;
    background-color: black;
    
}

.img-publi {
    background-image: url("/assets/images/publicidad/danny_la_caja.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 220px;
}

.redes {
    height: 220px;
    margin-top: 0px;
}

@media only screen and (min-width: 768px) and (max-width:900px) {  
   /* .redes {
        height: 180px;
    }

    .img-publi {
        height: 221px;
        background-image: url("/assets/images/publicidad/danny_la_caja_responsive.jpg");
        background-size: cover;
        background-position: center;
        overflow-x: hidden !important;
    }*/
}

@media only screen and (min-width: 545px) and (max-width: 767px)  {   
    .redes {
        height:440px;
    }
}

@media only screen and (max-width: 1023px)  {  
    .img-publi {
        background-image: url("/assets/images/publicidad/danny_la_caja_responsive.jpg");
        background-size: cover;
        background-position: center;
        overflow: hidden !important;
        margin-top: 0px;
    }

    .redes {
        margin-top: 0px;
        overflow-x: hidden !important;
    }
    
}


@media only screen and (max-width: 544px)  { 
    .img-publi {
        height: 220px;
        
      }
  
      .redes {
        height: 338px;
      }
}