.col-xl-10, .col-lg-10 {
    margin-left:-13%;
    transition: all 0.3s;
}

.page-container {
    width: 115.5%;
}


@media only screen and (min-width: 1024px) and (max-width: 1200px)  {   
   .page-container {
        width: 114.15%;
    
    }

    .col-lg-10 {
        margin-left:-11.80%;
        transition: all 0.3s;
    }
}


@media only screen and (max-width: 544px)  {    

}

@media only screen and (max-width: 1023px)  {  
    .side-bar {
        display:none;
    }

    .col-xl-10, .col-lg-10 {
        margin-left: 0px;
    }

    .page-container {
        width: 100%;
    }
}