<div class="container-fluid no-padding no-margin" style="overflow:hidden;">
    <div class="row no-padding no-margin">
        <div class="col-xl-2 col-lg-2 hidden-md-down side-bar" [style]="getSideBarStyle()">
            <app-side-bar></app-side-bar>
        </div>
        <div class="col-xl-10 col-lg-10 col-md-12 col-xs-12 col-sm-12 no-padding" [style]="getCol11Style()">
            <div class="row no-padding no-margin page-container">
                <div class="col-md-7 col-xs-12 col-sm-12 player no-padding no-margin">
                    <app-player></app-player>
                </div>
                <div class="col-md-5 col-xs-12 col-sm-12 player-side no-padding no-margin">
                    <app-player-side></app-player-side>
                </div>
            </div>
            <div class="row no-padding no-margin banners">
                <app-banners></app-banners>
            </div>
            <div class="row no-padding no-margin">
                <app-footer></app-footer>
            </div>
        </div>
    </div>
</div>