.twitter{
    background-color: #1dcaff;
    /*border-right: solid 1px whitesmoke;*/
    height: 220px;
    color: whitesmoke;
    padding-top:2.5em;
}

.facebook{
    background-color: #3B5998;
    /*border-right: solid 1px whitesmoke;*/
    height: 220px;
    color: whitesmoke;
    padding-top:2.5em;
}

.facebook a, .twitter a {
    color: whitesmoke;
    font-size: 2em;    
}

.twitter h4 a, .facebook h4 a  {
    color:whitesmoke;
    font-size: 0.6em;
}

.facebook .pagina a, .twitter .pagina a {
    font-weight: 500;
    font-size: 1.5em;    
}

span .pagina {
    margin-top: -20px;
    padding: 0px;
}

.facebook a:hover, .twitter a:hover {
    text-decoration: none;
    color:lightseagreen;
}

@media only screen and (min-width: 768px) and (max-width:900px) {  
    .facebook, .twitter {
        height: 140px;
        padding-top:1em;
    }

    .facebook h4, .twitter h4 {
        font-size: 1em;
    }

    .facebook a, .twitter a {
        font-size: 1.5em;    
    }
    
    .twitter h4 a, .facebook h4 a  {
        font-size: 0.6em;
    }
    
    .facebook .pagina a, .twitter .pagina a {
        font-size: 1em;    
    }
}

@media only screen and (max-width: 544px)  {  
    .twitter, .facebook {
        height: 168px;
        font-size: 1em;
    }

    .twitter {
        padding-top: 2em;
    }

    .twitter h4, .facebook h4  {
        color:whitesmoke;
        font-size: 1em;
    }

    .twitter h4 a  {
        font-size: 0.8em;
    }
}