@media only screen and (min-width: 768px) and (max-width: 1023px)  {   
    .gallery {
        margin-top: -80px;
    }

}

@media only screen and (min-width: 545px) and (max-width: 767px)  {   
    .gallery {
        margin-top: 0px;
    }

}