/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
.body {
    background-color: #00588e;
    padding: 0px;
    margin:0px;
    height: 100%;
    font-family:'Roboto', sans-serif;
}

.no-padding {
    padding:0px;
}